/* Reset default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Gaya untuk header */
header {
    background-color: #ffa500;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Gaya untuk main */
main {
    padding: 20px;
    text-align: center;
}

section {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
